<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="referrer" content="no-referrer-when-downgrade" />

        <meta name="robots" content="noindex">
        <link href="/theme/index.css" rel="stylesheet">

        <title>{{ blog.name }}{{#if page}} - {{ page.title }} {{/if}}</title>
    </head>
    <body>
        <div class="bg-white py-24">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl">
                    <a href="/">
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                            {{ blog.name }}
                        </h2>
                    </a>
                    <p class="mt-2 text-lg leading-8 text-gray-600">
                        {{ blog.description }}
                    </p>
                    <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">

                        {{> @partial-block }}

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



