{{#> base }}
    <div class="flex flex-col space-y-6">
        <div class="flex">
            <h2 class="text-3xl font-bold">
                Error :(
            </h2>
        </div>

        <div class="flex">
            {{ error }}
        </div>

        <div class="flex text-blue-500">
            <a href="/">Back To Home</a>
        </div>
    </div>
{{/base}}
